- content_for :title_header do
  %h1= t("layouts.no_tribe.settings")

= render :partial => "layouts/left_hand_navigation", :locals => { :links => settings_links_for(@current_user, @current_community) }

.left-navi-section.settings-section.payment-settings
  - if @presenter.stripe_enabled || @presenter.pcp_enabled 
    %h2= t("payment_settings.title")
  - else
    %h2= t("paypal_accounts.payout_info_title")

  - if @presenter.paypal_enabled
    = render "paypal_wizard", presenter: @presenter

  - elsif @presenter.stripe_enabled
    = render "stripe_wizard", presenter: @presenter

  - elsif @presenter.pcp_enabled
    = render "pcp_wizard", presenter: @presenter
