.message-avatar-padding
  .row
    .col-12

      %h2
        = link_to_unless @transaction.listing.deleted, @transaction.listing.title, listing_path(id: @transaction.listing.id)

      - if price_break_down_locals.present?
        = render partial: "transactions/price_break_down", locals: price_break_down_locals.merge(is_author: is_author)

      - if is_actual_author
        - if authenticate
          %h3 This order uses our "authenticate" feature. Please ship the item to us and we will forward it to the buyer. 
          = render partial: "transactions/authenticate_address", locals: { shipping_address: @transaction.shipping_address }
        -else 
          = render partial: "transactions/shipping_address", locals: { shipping_address: @transaction.shipping_address }

      - else 
        = render partial: "transactions/shipping_address", locals: { shipping_address: @transaction.shipping_address }
        - if authenticate
          %h3 This order uses our "authenticate" feature and will ship to you as soon as our team signed off on it. 

      - if is_author
        %h3 Please provide the shipment tracking number to your buyer immediately upon shipping. 

      %div{:id => "transaction_status"}
        = render :partial => "transactions/status/status", :locals => { :__transaction_model => @transaction, role: role, is_author: is_author }
